* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 40px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 20px;
    color: white;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
}


.card-container {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.card {
    background-color: #f4f4f4;
    padding: 40px;
    border-radius: 8px;
    flex: 1;
    text-align: center;
}

/* What I Learned

Flexbox allows efficient one-dimensional layouts.
It simplifies horizontal alignment and spacings */ 